body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.scroll-box {
    position: relative;
    height: 200px;
    margin-top: 10px;
    border: 1px;
    overflow: auto;
       overflow-x: auto;
       overflow-y: auto;
}